.page-burger {
  background-color: $color-icons;
  width: 320px;
  display: none;
  @media(min-width: 1366px){
      height: 100%;
  }

}
.header-burger {
    padding: 16px;
}
.logo-burger{
  display: flex;
  justify-content: left;
  &__back{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: no-repeat center $color-icons url(../img/icons/close.png);
    margin-left: 230px;
    
  }
}
.navigation{
  list-style: none;
  padding: 0 !important;
  li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    margin:20px 0;
  }
  .navigation_link{
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 24px;
  }

}


.background-menu:before {
  @media (max-width: 1366px) {
    position: absolute;
    content: '';
    width: 100%;
    height: 200vh;
    background: white;
    opacity: 0.9;
    z-index: 2;
  }
}
.pageBurger{
    @media (max-width: 1366px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      z-index: 3;
      height: 100vh;
      box-shadow: 0 0 40px $color-icons;
  }
}
